.container {
 background: rgb(255, 231, 235);
 margin-left: 20px;
 margin-right: 40px;

 padding: 20px;


width: 100%;

}

footer {
    margin-top: 10px;
    
    text-align:center;
    font-size: 0.5rem;
    
}

.Search {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}

.Giphs-View {
    padding: 20px;
    
}